<table>
    <tr>
        <th>Suit ID</th>
        <th>Description</th>
        <!-- <th>User</th> -->
    </tr>
    
    <% obj.each do |suit|%>
    <tr>
        <td><%= suit.number %></td>
        <td><%= suit.description %></td>
        <!-- <td><#%= article.user.username if article.user%></td> -->
        <td><%= link_to "Show", suit_path(suit) %></td>
        <td><%= link_to "Edit",edit_suit_path(suit) %></td>
        <td><%= link_to "Delete", suit_path(suit), method: :delete, data: {confirm: "Are you sure?"} %></td>
    </tr>
    <% end %>
</table>